{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
<link rel="stylesheet" href="{{asset('css/list.css')}}">
{% endblock %}

{% block body %}

<h1>Liste des formations</h1>

<button class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer une formation
</button>

<div id="components-container">
  {% for formation in formations %}

  <div class="component">
    <span class="name">
      {{formation.nomFormation}}
    </span>

    <span class="link">
      <a href="{{ path('show_formation', {'id': formation.id}) }}"><i class="fa-solid fa-link"></i> voir les
        sessions</a>
    </span>

    <span class="delete-link">
      <a href="{{ path('delete_formation', {'id': formation.id}) }}">supprimer</a>
    </span>
  </div>

  {% endfor %}
</div>

<dialog id="formationDialog" class="dialogAdd">

  {{ form_start(formAddFormation) }}
  {{ form_row(formAddFormation.nom_formation) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>

  {{ form_end(formAddFormation) }}

</dialog>

{% endblock %}

{% block javascriptsBottom %}
<script src="{{asset('js/modal.js')}}"></script>
{% endblock %}