{% extends 'base.html.twig' %}

{% block title %}{{formation.nomFormation}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
<link rel="stylesheet" href="{{asset('css/formation.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}

{% block body %}

<h1>{{formation.nomFormation}}</h1>

<button class="modifyButton">Modifier les infos</button>

<section id="formation-infos">
  <p><b>Nom : </b><span>{{formation.nomFormation}}</span></p>
</section>

<hr>

{# #################### SESSIONS EN COURS #################### #}

<button class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer une session
</button>


<section id="formation-sessionsNow">
  <h3>Liste des sessions en cours :</h3>

  {% if sessionsNow is not empty %}

  <table>

    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>

    <tbody>
      {% for session in sessionsNow %}

      <tr>
        <th>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.intitule}}
          </a>
        </th>
        <td>
          {{session.dateDebut | date("d/m/Y")}}
        </td>
        <td>
          {{session.dateFin | date("d/m/Y")}}
        </td>
        <td>
          <a href="{{ path('delete_session_formation', {'idSession': session.id, 'idFormation': formation.id}) }}">
            <i class="fa-solid fa-circle-xmark del-btn"></i>
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  {% else %}

  <p>Pas de session en cours</p>

  {% endif %}

</section>

<hr>

{# #################### SESSIONS FUTURES #################### #}


<section id="formation-sessionsFutur">
  <h3>Liste des session à venir :</h3>

  {% if sessionsFuture is not empty %}

  <table>
    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>

    <tbody>

      {% for session in sessionsFuture %}

      <tr>
        <th>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.intitule}}
          </a>
        </th>
        <td>
          {{session.dateDebut | date("d/m/Y")}}
        </td>
        <td>
          {{session.dateFin | date("d/m/Y")}}
        </td>
        <td>
          <a href="{{ path('delete_session_formation', {'idSession': session.id, 'idFormation': formation.id}) }}">
            <i class="fa-solid fa-circle-xmark del-btn"></i>
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  {% else %}

  <p>Pas de sessions à venir</p>

  {% endif %}

</section>

<hr>
{# #################### SESSIONS TERMINEES #################### #}

<section id="formation-sessionsPast">
  <h3>Liste des sessions terminées :</h3>

  {% if sessionsPast is not empty %}

  <table>
    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>

    <tbody>

      {% for session in sessionsPast %}

      <tr>
        <th>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.intitule}}
          </a>
        </th>
        <td>
          {{session.dateDebut | date("d/m/Y")}}
        </td>
        <td>
          {{session.dateFin | date("d/m/Y")}}
        </td>
        <td>
          <a href="{{ path('delete_session_formation', {'idSession': session.id, 'idFormation': formation.id}) }}">
            <i class="fa-solid fa-circle-xmark del-btn"></i>
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  {% else %}

  <p>aucune session passée</p>

  {% endif %}

</section>
<hr>

<dialog id="formationDialog" class="dialogModify">

  {{ form_start(formAddFormation) }}
  {{ form_row(formAddFormation.nom_formation) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
  {{ form_end(formAddFormation) }}

</dialog>

<dialog id="sessionDialog" class="dialogAdd">

  {{ form_start(formAddSession) }}

  {{ form_row(formAddSession.intitule) }}
  {{ form_row(formAddSession.formation) }}
  {{ form_row(formAddSession.date_debut) }}
  {{ form_row(formAddSession.date_fin) }}
  {{ form_row(formAddSession.nb_places) }}
  {{ form_row(formAddSession.formateur) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
  {{ form_end(formAddSession) }}

</dialog>

{% endblock %}