{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/list.css')}}">
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
{% endblock %}

{% block body %}

<h1>Liste des stagiaires :</h1>

<button class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer un stagiaire
</button>

<div id="components-container">
  {% for stagiaire in stagiaires %}

  <div class="component">
    <span class="name">
      {{stagiaire.nom}} {{stagiaire.prenom}}
    </span>
    <span class="link">
      <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-link"></i> voir les infos</a>
    </span>
    <span class="delete-link">
      <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">supprimer</a>
    </span>
  </div>

  {% endfor %}
</div>

<dialog id="formateurDialog" class="dialogAdd">

  {{ form_start(formAddStagiaire) }}
  {{ form_row(formAddStagiaire.nom) }}
  {{ form_row(formAddStagiaire.prenom) }}
  {{ form_row(formAddStagiaire.date_naissance) }}
  {{ form_row(formAddStagiaire.sexe) }}
  {{ form_row(formAddStagiaire.ville) }}
  {{ form_row(formAddStagiaire.tel) }}
  {{ form_row(formAddStagiaire.email) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
  {{ form_end(formAddStagiaire) }}

</dialog>

{% endblock %}

{% block javascriptsBottom %}
<script src="{{asset('js/modal.js')}}"></script>
{% endblock %}