{% extends 'base.html.twig' %}

{% block title %}{{stagiaire.nom}} {{stagiaire.prenom}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/stagiaire.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
{% endblock %}

{% block body %}

<h1>{{stagiaire.nom}} {{stagiaire.prenom}}</h1>

<button class="modifyButton">Modifier les infos</button>

<section id="stagiaire-infos">
  <p><b>Nom : </b><span>{{stagiaire.nom}}</span></p>
  <p><b>Prénom : </b><span>{{stagiaire.prenom}}</span></p>
  <p>
    <b>Date de naissance : </b>
    <span>{{stagiaire.dateNaissance is empty ? "non renseigné" : stagiaire.dateNaissance | date("d/m/Y")}}</span>
  </p>
  <p><b>Sexe : </b><span>{{stagiaire.sexe is empty ? "non renseigné" : stagiaire.sexe}}</span></p>
  <p><b>Ville : </b><span>{{stagiaire.ville}}</span></p>
  <p><b>Téléphone : </b><span>{{stagiaire.tel}}</span></p>
  <p><b>Email : </b><span>{{stagiaire.email}}</span></p>
</section>

<hr>

<section id="stagiaire-sessions">
  <h3>Sessions enregistrées :</h3>

  {% if stagiaire.sessions is empty %}

  <p>Aucune session</p>

  {% else %}
  <table>

    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>

    <tbody>

      {% for session in stagiaire.sessions %}

      <tr>
        <th>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.intitule}}
          </a>
        </th>
        <td>
          {{session.dateDebut | date("d/m/Y")}}
        </td>
        <td>
          {{session.dateFin | date("d/m/Y")}}
        </td>
        <td>
          <a href="{{ path('remove_stagiaire_session', {'idStagiaire': stagiaire.id, 'idSession': session.id}) }}">
            <i class="fa-solid fa-circle-xmark del-btn"></i>
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  {% endif %}

</section>

<dialog id="formateurDialog" class="dialogModify">

  {{ form_start(formAddStagiaire) }}
  {{ form_row(formAddStagiaire.nom) }}
  {{ form_row(formAddStagiaire.prenom) }}
  {{ form_row(formAddStagiaire.date_naissance) }}
  {{ form_row(formAddStagiaire.sexe) }}
  {{ form_row(formAddStagiaire.ville) }}
  {{ form_row(formAddStagiaire.tel) }}
  {{ form_row(formAddStagiaire.email) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
  {{ form_end(formAddStagiaire) }}

</dialog>

{% endblock %}