{% extends 'base.html.twig' %}

{% block title %}{{stagiaire.nom}} {{stagiaire.prenom}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/stagiaire.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}

{% block body %}

<h1>{{stagiaire.nom}} {{stagiaire.prenom}}</h1>

<a href="#" class="modifyButton">Modifier les infos</a>

<section id="stagiaire-infos">
  <p><b>Nom : </b><span>{{stagiaire.nom}}</span></p>
  <p><b>Prénom : </b><span>{{stagiaire.prenom}}</span></p>
  <p>
    <b>Date de naissance : </b>
    <span>{{stagiaire.dateNaissance is empty ? "non renseigné" : stagiaire.dateNaissance | date("d/m/Y")}}</span>
  </p>
  <p><b>Sexe : </b><span>{{stagiaire.sexe is empty ? "non renseigné" : stagiaire.sexe}}</span></p>
  <p><b>Ville : </b><span>{{stagiaire.ville}}</span></p>
  <p><b>Téléphone : </b><span>{{stagiaire.tel}}</span></p>
  <p><b>Email : </b><span>{{stagiaire.email}}</span></p>
</section>

<hr>

<section id="stagiaire-sessions">
  <h3>Sessions enregistrées :</h3>

  {% if stagiaire.sessions is empty %}

  <p>Aucune session</p>

  {% else %}
  <table>

    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>

    <tbody>

      {% for session in stagiaire.sessions %}

      <tr>
        <th>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.intitule}}
          </a>
        </th>
        <td>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.dateDebut | date("d/m/Y")}}
          </a>
        </td>
        <td>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.dateFin | date("d/m/Y")}}
          </a>
        </td>
        <td>
          <i class="fa-solid fa-circle-xmark del-btn"></i>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  {% endif %}

</section>

{% endblock %}