{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
<link rel="stylesheet" href="{{asset('css/list.css')}}">
{% endblock %}

{% block body %}

<h1>Liste des sessions</h1>

<button class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer une session
</button>

<div id="components-container">
  {% for session in sessions %}

  <div class="component">
    <span class="name">
      {{session.intitule}}
    </span>
    <span class="link">
      <a href="{{ path('show_session', {'id': session.id}) }}"><i class="fa-solid fa-link"></i> voir les infos</a>
    </span>
    <span class="delete-link">
      <a href="{{ path('delete_session', {'id': session.id}) }}">supprimer</a>
    </span>
  </div>

  {% endfor %}
</div>

<dialog id="sessionDialog" class="dialogAdd">

  {{ form_start(formAddSession) }}
  {{ form_row(formAddSession.intitule) }}
  {{ form_row(formAddSession.formation) }}
  {{ form_row(formAddSession.date_debut) }}
  {{ form_row(formAddSession.date_fin) }}
  {{ form_row(formAddSession.nb_places) }}
  {{ form_row(formAddSession.formateur) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
  {{ form_end(formAddSession) }}

</dialog>

{% endblock %}

{% block javascriptsBottom %}
<script src="{{asset('js/modal.js')}}"></script>
{% endblock %}