{% extends 'base.html.twig' %}

{% block title %}Session de {{session.intitule}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/session.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}

{% block body %}
<h1>Session de {{session.intitule}}</h1>

<a href="#" class="modifyButton">
  Modifier les infos
</a>

<div id="session-content">
  <section id="session-infos">
    <p><b>Intitulé : </b><span>{{session.intitule}}</span></p>
    <p>
      <b>Formation : </b><a href="{{ path('show_formation', {'id': session.formation.id}) }}">
        {{session.formation.nomFormation}}
      </a>
    </p>
    <p>
      <b>Formateur référent : </b><a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">
        {{session.formateur.nom}} {{session.formateur.prenom}}
      </a>
    </p>
    <p><b>Date de début : </b><span>{{session.dateDebut | date("d/m/Y")}}</span></p>
    <p><b>Date de fin : </b><span>{{session.dateFin | date("d/m/Y")}}</span></p>
  </section>

  <hr>

  <section id="session-modules">
    <h3>Liste des modules :</h3>

    <div id="session-wrapper">

      {# modules dans la session #}
      <table id="modulesTable">
        <thead>
          <tr>
            <th>Modules intégrés</th>
            <th>Durée</th>
            <th><i class="fa-solid fa-circle-xmark"></i></th>
          </tr>
        </thead>

        <tbody>

          {% if session.programmes is empty %}
          <tr>
            <td colspan="3">
              Aucun module
            </td>
          </tr>
          {% else %}

          {% for prog in session.programmes %}
          <tr>
            <th>
              {{prog.module.nomModule}}
            </th>
            <td>
              <span>{{prog.duree}} j. <i class="fa-solid fa-pen-to-square editButton"></i></span>
            </td>
            <td>
              <a href="{{ path('remove_session_programme',{'idSession': session.id, 'idProgramme': prog.id}) }}">
                <i class="fa-solid fa-circle-xmark delete"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}

        </tbody>
      </table>

      {# modules disponibles qui ne sont pas dans la session #}

      <div id="otherModulesContainer">
        <p>Ajouter un module</p>

        <div id="modules-container">
          {% for module in autresModules %}
          <span>
            <a href="{{ path('create_session_programme',{'idSession': session.id, 'idModule': module.id}) }}">
              {{ module.nomModule }}
            </a></span>
          {% endfor %}
        </div>
      </div>
    </div>

    <b>Durée totale :</b> {{dureeTotale}} jours
  </section>

  <hr>

  <section id="session-stagiaires">

    <h3>Liste des stagiaires :</h3>

    <div id="session-places">
      <p><b>Places totales : </b><span>{{session.nbPlaces}}</span></p>
      <p><b>Participants : </b><span>{{session.stagiaires | length}}</span></p>
      <p><b>Places libres : </b><span>{{session.nbPlaces - session.stagiaires | length}}</span></p>
    </div>

    <button class="addButton">
      <i class="fa-solid fa-circle-plus"></i> Ajouter un stagiaire
    </button>

    {% if session.stagiaires is empty %}

    <p>Aucun stagiaire</p>

    {% else %}

    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Tel</th>
        </tr>
      </thead>

      <tbody>
        {% for stagiaire in session.stagiaires %}

        <tr>
          <th>
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
              {{stagiaire.nom}} {{stagiaire.prenom}}
            </a>
          </th>
          <td>
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
              {{stagiaire.email}}
            </a>
          </td>
          <td>
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
              {{stagiaire.tel}}
            </a>
          </td>
          <td>
            <i class="fa-solid fa-circle-xmark del-btn"></i>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

    <button class="addButton">
      <i class="fa-solid fa-circle-plus"></i> Ajouter un stagiaire
    </button>

    {% endif %}

  </section>
</div>
{% endblock %}