{% extends 'base.html.twig' %}

{% block title %}Session de {{session.intitule}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/session.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}

{% block body %}
<h1>Session de {{session.intitule}}</h1>

<a href="#" class="modifyButton">Modifier les infos</a>

<div id="session-content">
  <section id="session-infos">
    <p><b>Formation : </b><span>{{session.formation.nomFormation}}</span></p>
    <p><b>Intitulé : </b><span>{{session.intitule}}</span></p>
    <p><b>Formateur référent : </b><span>{{session.formateur.nom}} {{session.formateur.prenom}}</span></p>
    <p><b>Date de début : </b><span>{{session.dateDebut | date("d/m/Y")}}</span></p>
    <p><b>Date de fin : </b><span>{{session.dateFin | date("d/m/Y")}}</span></p>
  </section>

  <hr>

  <section id="session-modules">
    <h3>Liste des modules :</h3>

    <table id="modulesTable">
      <thead>
        <tr>
          <th>Modules intégrés</th>
          <th>Durée</th>
          <th><i class="fa-solid fa-circle-xmark"></i></th>
          <th>Ajouter module</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="3"></td>

          {# On insère tous les modules disponibles qui ne sont pas dans la session #}
          <td id="otherModulesContainer" rowspan="{{session.programmes|length +1}}">

            {% for module in autresModules %}
            <span>{{ module.nomModule }}</span>
            {% endfor %}

          </td>
        </tr>

        {% if session.programmes is empty %}
        <tr>
          <td colspan="3">
            Aucun module
          </td>
        </tr>
        {% else %}

        {% for prog in session.programmes %}
        <tr>
          <th>
            {{prog.module.nomModule}}
          </th>
          <td>
            {{prog.duree}} j.
          </td>
          <td>
            <i class="fa-solid fa-circle-xmark"></i>
          </td>
        </tr>

        {% endfor %}
        {% endif %}

      </tbody>
    </table>

    <b>Durée totale :</b> {{dureeTotale}} jours
  </section>

  <hr>

  <section id="session-stagiaires">
    <div id="session-places">
      <p><b>Places totales : </b><span>{{session.nbPlaces}}</span></p>
      <p><b>Participants : </b><span>{{session.stagiaires | length}}</span></p>
      <p><b>Places libres : </b><span>{{session.nbPlaces - session.stagiaires | length}}</span></p>
    </div>

    <h3>Liste des stagiaires :</h3>

    <a href="#" class="addButton">
      <i class="fa-solid fa-circle-plus"></i> Ajouter un stagiaire
    </a>

    {% if session.stagiaires is empty %}

    <p>Aucun stagiaire</p>

    {% else %}

    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Tel</th>
        </tr>
      </thead>

      <tbody>
        {% for stagiaire in session.stagiaires %}

        <tr>
          <th>
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
              {{stagiaire.nom}} {{stagiaire.prenom}}
            </a>
          </th>
          <td>
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
              {{stagiaire.email}}
            </a>
          </td>
          <td>
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
              {{stagiaire.tel}}
            </a>
          </td>
          <td>
            <i class="fa-solid fa-circle-xmark del-btn"></i>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

    <a href="#" class="addButton">
      <i class="fa-solid fa-circle-plus"></i> Ajouter un stagiaire
    </a>

    {% endif %}

  </section>
</div>
{% endblock %}