{% extends 'base.html.twig' %}

{% block title %}Session de {{session.intitule}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/session.css')}}">
{% endblock %}

{% block body %}
<h1>Session de {{session.intitule}}</h1>

<a href="#" class="modifyButton">Modifier les infos</a>

<div id="session-content">
  <section id="session-infos">
    <p><b>Formation : </b><span>{{session.formation.nomFormation}}</span></p>
    <p><b>Intitulé : </b><span>{{session.intitule}}</span></p>
    <p><b>Formateur référent : </b><span>{{session.formateur.nom}} {{session.formateur.prenom}}</span></p>
    <p><b>Date de début : </b><span>{{session.dateDebut | date("d/m/Y")}}</span></p>
    <p><b>Date de fin : </b><span>{{session.dateFin | date("d/m/Y")}}</span></p>
  </section>

  <hr>

  <section id="session-modules">
    <h3>Liste des modules :</h3>
    {% for prog in session.programmes %}

    <span class="module">{{prog.module.nomModule}}</span><br>

    {% endfor %}

    <b>Durée totale :</b>
  </section>

  <hr>

  <section id="session-stagiaires">
    <div id="session-places">
      <p><b>Places totales : </b><span>{{session.nbPlaces}}</span></p>
      <p><b>Participants : </b><span>{{session.stagiaires | length}}</span></p>
      <p><b>Places libres : </b><span>{{session.nbPlaces - session.stagiaires | length}}</span></p>
    </div>

    <h3>Liste des stagiaires :</h3>

    <a href="#" class="addButton">
      <i class="fa-solid fa-circle-plus"></i> Ajouter un stagiaire
    </a>
    {% for stagiaire in session.stagiaires %}

    <span class="module">{{stagiaire.nom}} {{stagiaire.prenom}}</span><br>

    {% endfor %}
  </section>
</div>
{% endblock %}