{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
<link rel="stylesheet" href="{{asset('css/list.css')}}">
{% endblock %}

{% block body %}

<h1>Liste des modules</h1>

<button class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer un module
</button>

<div id="components-container">
  {% for module in modules %}

  <div class="component">
    <span class="name">
      {{module.nomModule}}
    </span>

    <span class="delete-link">
      <a href="{{ path('delete_module', {'id': module.id}) }}">supprimer</a>
    </span>
  </div>

  {% endfor %}
</div>

<dialog id="moduleDialog" class="dialogAdd">

  {{ form_start(formAddModule) }}
  {{ form_row(formAddModule.nom_module) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-plus"></i>
    </button>
  </div>
  {{ form_end(formAddModule) }}

</dialog>

{% endblock %}