{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
<link rel="stylesheet" href="{{asset('css/list.css')}}">
{% endblock %}

{% block body %}

<h1>Liste des formateurs</h1>

<button class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer un formateur
</button>

{# Liste des formateurs #}
<div id="components-container">
  {% for formateur in formateurs %}

  <div class="component">
    <span class="name">
      <a href="{{ path('show_formateur', {'id': formateur.id}) }}">
        {{formateur.nom}} {{formateur.prenom}}
      </a>
    </span>
    <span class="link">
      <a href="{{ path('show_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-link"></i> voir les infos</a>
    </span>
    <span class="delete-link">
      <a href="{{ path('delete_formateur', {'id': formateur.id}) }}">supprimer</a>
    </span>
  </div>

  {% endfor %}
</div>

{# dialog pour modal form création de formateur #}
<dialog id="formateurDialog" class="dialogAdd">

  {{ form_start(formAddFormateur) }}
  {{ form_row(formAddFormateur.nom) }}
  {{ form_row(formAddFormateur.prenom) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
  {{ form_end(formAddFormateur) }}

</dialog>

{% endblock %}