{% extends 'base.html.twig' %}

{% block title %}{{formateur.nom}} {{formateur.prenom}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/formateur.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}

{% block body %}

<h1>{{formateur.nom}} {{formateur.prenom}}</h1>

<a href="#" class="modifyButton">Modifier les infos</a>

<section id="formateur-infos">
  <p><b>Nom : </b><span>{{formateur.nom}}</span></p>
  <p><b>Prénom : </b><span>{{formateur.prenom}}</span></p>
</section>

<hr>

<section id="formateur-sessions">
  <h3>Sessions encadrées :</h3>

  {% if formateur.sessions is empty %}

  <p>Aucune session</p>

  {% else %}

  <table>

    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>

    <tbody>

      {% for session in formateur.sessions %}

      <tr>
        <th>
          {{session.intitule}}
        </th>
        <td>
          {{session.dateDebut | date("d/m/Y")}}
        </td>
        <td>
          {{session.dateFin | date("d/m/Y")}}
        </td>
        <td>
          <i class="fa-solid fa-circle-xmark del-btn"></i>
        </td>
      </tr>


      {% endfor %}

    </tbody>
  </table>
  {% endif %}

</section>

{% endblock %}