{% extends 'base.html.twig' %}

{% block title %}{{formateur.nom}} {{formateur.prenom}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/modal.css')}}">
<link rel="stylesheet" href="{{asset('css/formateur.css')}}">
<link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}

{% block body %}

<h1>{{formateur.nom}} {{formateur.prenom}}</h1>

<button class="modifyButton">Modifier les infos</button>

<section id="formateur-infos">
  <p><b>Nom : </b><span>{{formateur.nom}}</span></p>
  <p><b>Prénom : </b><span>{{formateur.prenom}}</span></p>
</section>

<hr>

<section id="formateur-sessions">
  <h3>Sessions encadrées :</h3>

  {% if formateur.sessions is empty %}

  <p>Aucune session</p>

  {% else %}

  <table>

    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for session in formateur.sessions %}

      <tr>
        <th>
          <a href="{{ path('show_session', {'id': session.id}) }}">
            {{session.intitule}}
          </a>
        </th>
        <td>
          {{session.dateDebut | date("d/m/Y")}}
        </td>
        <td>
          {{session.dateFin | date("d/m/Y")}}
        </td>
        <td>
          <a href="{{ path('delete_formateur_formation', {'idSession': session.id, 'idFormateur': formateur.id}) }}">
            <i class="fa-solid fa-circle-xmark del-btn"></i>
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  {% endif %}

</section>

<dialog id="formateurDialog" class="dialogModify">

  {{ form_start(formAddFormateur) }}
  {{ form_row(formAddFormateur.nom) }}
  {{ form_row(formAddFormateur.prenom) }}

  <div class="modalNav">
    <button type="button" class="cancel">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>

    <button type="submit">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
  {{ form_end(formAddFormateur) }}

</dialog>

{% endblock %}